@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&display=swap');

*, option{
  font-family: 'Afacad', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout{
  display: flex;
}

.layout-content{
  width: calc(100% - 230px);
  padding: 1em;
}

.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

Table{
  font-size: 16px;
}

.icon{
  cursor: pointer;
  font-size: 20px;
  margin-right: .5em;
}

.edit_icon{
  color: green;
}

.delete_icon{
  color: red;
}

.plus_icon{
  color: blue;
}

.error-msg{
  color: red;
}