.container{
  margin: 0 auto;
  margin-top: 10em;
  width: 90%;
}

.container div{
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.container h1{
  color: #8a2be2;
}